name: Run textlint for all contents

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      with:
        aqua_version: v2.55.1
    - name: Setup workspace
      run: task setup-ci
    - name: Run textlint
      run: task textlint -- articles books
